<div class="container">
    <div class="text-center mt-4">
        <h3 class="alert alert-primary">Create And Eat Yummy Burgers</h3>
    </div>
</div>
<div class="contianer-fliud">
    <div class="row mb-5">

        <div class="col-6 justify-content-center">
            <h3>Uneaten</h3>
            {{#each burgers}}
            {{#unless devoured}}
            <ul class="list-group">
                {{> burgers/burger-block devoured=true}}
            </ul>

            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6 justify-content-center">
            <h3>Devoured</h3>
            {{#each burgers}}
            {{#if devoured}}

            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="/save-new-burger">
                <div class="form-group">
                    <label for="burger_name">Type In The Name To Create New Burger</label>
                    <input type="text" class="form-control" name="burger_name" id="burger_name">
                </div>
                <button type="submit" class="btn btn-secondary">Create New Burger</button>
            </form>
        </div>
    </div>
</div>